@charset "UTF-8";

:root {
  --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
  --font-titulo: Georgia;
  --azul-cowboys: #041e42;
  --prata-cowboys: #a5acaf;
  --branco: #ffffff;
  --cinza-escuro: #333333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, var(--prata-cowboys), var(--azul-cowboys));
  font-family: var(--fonte-padrao);
  color: var(--cinza-escuro);
}

header {
  background: linear-gradient(to top, var(--azul-cowboys), #1b365d);
  min-height: 120px;
  text-align: center;
  padding-top: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

header h1 {
  color: var(--branco);
  font-family: var(--font-titulo);
  font-size: 2.5em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  animation: fadeIn 2s ease-in;
}

header p {
  padding-top: 15px;
  color: var(--branco);
  font-size: 1em;
  animation: fadeIn 2s ease-in;
}

main {
  background-color: var(--branco);
  min-width: 300px;
  max-width: 1100px;
  margin: auto;
  margin-bottom: 30px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.content {
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease forwards;
}

.content h2 {
  color: var(--azul-cowboys);
  font-family: var(--font-titulo);
  font-weight: normal;
  font-size: 1.8em;
  margin-bottom: 20px;
}

.content img {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 40px;
}

.espaçogrande {
  margin-top: 80px;
}

.frase-final {
  margin-top: 20px;
  font-weight: bold;
  color: var(--azul-cowboys);
  font-style: italic;
}

footer {
  background-color: var(--azul-cowboys);
  text-align: center;
  font-size: 0.8em;
  padding: 8px;
}

footer p {
  color: var(--branco);
  font-weight: bolder;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 600px) {
  header {
    min-height: 100px;
    padding-top: 30px;
  }

  header h1 {
    font-size: 2em;
  }

  .content h2 {
    font-size: 1.5em;
  }
}

.content p {
    margin-bottom: 20px;
    line-height: 1.7;
    text-align: justify;
  }
  
  .video-container {
    display: flex;
    justify-content: center;
    margin: 30px 0;
  }
  
  iframe {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
  
  .frase-final {
    font-size: 1.2em;
    color: var(--azul-cowboys);
    font-weight: bold;
    margin-top: 30px;
    font-style: italic;
  }
  